<nav class="navbar navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/icons/logoRock.png" alt="" height="60px" width="60px"/>
    </a>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="#">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Productos</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel ">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/portada.jpg" class="portada" alt="...">
          </div>
          <!-- <div class="carousel-item">
            <img src="assets/images/" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/images/" class="d-block w-100" alt="...">
          </div> -->
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-product-list>
    
          </app-product-list>
        </div>
      </div>

</div>
<footer class="d-flex justify-content-around">
  <div class="d-flex justify-content-center justify-content-evenly align-items-center py-3 my-5 border-top border-dark">
    <div class="col-md-3 d-flex align-items-center">
      <!-- <a class="navbar-brand mx-3" href="#"> <img src="" alt="..."
                    height="40px" width="40px" /></a> -->
    </div>
    <span class="col-md-6 text-muted text-center d-flex ">© 2022 {{title}} - Indumentaria Online. Todos los derechos
      reservados.</span>

    <ul class="nav col-md-3 justify-content-end list-unstyled d-flex mx-4">
      <li class="ms-4"><a class="text-muted" href="#"><i class="fab fa-facebook-square"></i></a></li>
      <li class="ms-4"><a class="text-muted" href="#"><i class="fab fa-instagram"></i></a></li>
      <li class="ms-4"><a class="text-muted" href="#"><i class="fab fa-twitter-square"></i></a></li>
    </ul>

  </div>

</footer>