<table class="table table-striped">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Talle</th>
            <th>Sexo</th>
            <th>Precio</th>
            <th>Stock</th>
            <!-- <th>Stock</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of productos" [ngClass]="{'clearance': producto.clearance}">
            <td><img class="rounded" [src]="producto.imagen" [alt]="producto.nombre"/></td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.talle}}</td>
            <td>{{producto.sexo}}</td>
            <td>{{producto.precio | currency}}</td>
            <td><span class="badge text-bg-danger" *ngIf="producto.stock==0">Sin stock</span></td>
            <td>{{producto.clearance}}</td>
        </tr>
    </tbody>

</table>