<h3 class="text-danger text-center pt-3">MÁS INFORMACIÓN</h3>
<div class="row pt-3">
    <div class="col-sm-6">
        <div class="card">
          <img src="assets/images/tabla.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">INFO DE TALLES</h5>
              <p class="card-text">Verificar bien las medidas de talles. En caso de cambio, el mismo se efectuará siempre y cuando la prenda no presente rastros de uso, y conserve su etiqueta correspondiente, pero el gasto de envío (doble) corre por cuenta del comprador (tanto las remeras que nos envías, como las que te enviamos de cambio) ya que las medidas están publicadas</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <img src="assets/images/local.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Sobre nosotros</h5>
              <p class="card-text">A través de los años, nuestra fábrica se ha transformado es una de las grandes opciones en
                  relacion precio calidad. En nuestro variado stock podés encontrar diferentes prendas para cada una de tus
                  necesidades, para sublimacion, serigrafia, transfer, vinilo. La perfecta solucion para mayoristas y
                  minoristas. Más de 26 años de trayectoria en el mercado.</p>
          </div>
        </div>
      </div>
  </div>